/*
.background {
    fill: #B0BEC5;
    pointer-events: all;
}
*/

/*
.feature {
    fill: #ccc;
    cursor: pointer;
}

.feature.active {
  fill: orange;
}
*/

/*
.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
*/

/*
.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
*/

/*
svg {
    pointer-events: all;
}
*/

/*
.country {
    stroke: black;
    stroke-width: .75px;
}

.country:hover {
    stroke: blue;
    stroke-width: .75px;
}

.active {
    fill: #01579B;
}

.hidden { 
  display: none; 
}

div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}
*/

/*appcopy3.js CSS*/
.water {
/*  fill: #00248F;*/
    fill: #0D47A1;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

.land {
/*
  fill: #A98B6F;
  stroke: #FFF;
  stroke-width: 0.7px;
*/
    fill: #BDBDBD;
    stroke: black;
    stroke-width: .75px;
}

.land:hover {
  fill:#33CC33;
  stroke-width: 1px;
/*
    fill: blue;
    stroke-width: 1px;
*/
}

.focused {
  fill: #33CC33;
/*    fill: #01579B;*/
}

/*
svg {
    background-color: white;
}*/
